body {
	font-size:16px !important;
	font-style: normal !important;
	font-family: Nunito !important;
}

a:hover {
	color: #F0256F !important;
}

div.body h1{
	font-style: normal !important;
	font-family: Nunito !important;
	font-size: 32px !important;
	font-weight: bold !important;
}

/*div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 */